<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <title>Cocktails</title>
</head>
<body>
  <h1>Cocktails</h1>
  <% for (let i = 0; i < alcohol.length; i++) { %>
    <a href="localhost:3000"><%= alcohol[i] %></a>
    <% }; %>
    
    <ul>
      <% for (let i = 0; i < cocktails.length; i++) { %>
        <li><%= cocktails[i].name  %></li>
        <li><%= cocktails[i].contains  %></li>
        <li><%= cocktails[i].price  %> Ft</li>
        <li>Alcoholic: <%= cocktails[i].isAlcoholic  %></li>
        <% }; %>
    </ul>
    
    <%                      %>
    <%                      %>
    <%                      %>
</body>
</html>