<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <title>Cocktails</title>
</head>
<body>
  <h1>Cocktails</h1>
  <a href="localhost:3000">All</a>
  <% for (let i = 0; i < alcohol.length; i++) { %>
    <a href="localhost:3000"><%= alcohol[i] %></a>
  <% }; %>
  <table style="width: 40%">
    <tr>
      <th id="name">NAME</th>
      <th class="price">PRICE</th>
    </tr>

  <% for (let i = 0; i < cocktails.length; i++) { %>
    <tr>
        <td><strong><%= cocktails[i].name %></strong> <% if (cocktails[i].isAlcoholic == false) { %><%= `(non-alcoholic)` %><% } else {} %><br/><%= `\n ${cocktails[i].contains}` %></td>
        <td class="price"><strong><%= cocktails[i].price %> Ft</strong></td>
    </tr>
  <% }; %>
  </table>

</body>
</html>